<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
    <title>BlogIt</title>
</head>

<body>
<div class="wrapper">
    <header>
        <nav>
            <div id="nav-left">
                <a id="nav-logo" href="/" aria-label="Home">
                    <h1>BlogIt</h1>
                </a>
            </div>
            <div id="nav-right">
                <a href="/" aria-label="All Blogs"><h3>All Blogs</h3></a>
                <a href="/new-blog" aria-label="New Blog"><h3>New Blog</h3></a>
            </div>
        </nav>
    </header>